.white {
    background-color: white !important;
}

.header-box,
.breadcrumb {
    position: relative;
    margin-top: 0.75em;
    margin-left: 6em;
    margin-right: 6em;
}

.header-box {
    background-color: lightgray;
}

#row-h1 {
    padding-left: 10%;
}

#submit-row {
    margin-left: 63em;
    border-radius: 15%;
}

#displayHeader {
    font-size: 1.5em;
}

#passContainer {
    border-style: solid;
}

#passwordButton {
    margin-left: 71em;
}

.passwordHeader {
    margin-left: 8em;
}

#colorTable {
    color: black !important;
}
