* {
  box-sizing: border-box;
}
::selection {
    background-color: #b5e2e7;
}
  
  ::-moz-selection {
    background-color: #8ac7d8;
  }
  
  body {
    background: #3CC !important;
  }
  
  .container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
  }
  
  #logbox {
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
  
  h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
  }
  
  h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
  }
  
  .input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
  }
  
  .input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
  }
  
  .input:hover {
    border-bottom-color: #dcdcdc;
  }
  
  .input:invalid {
    box-shadow: none;
  }
  
  .pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  
  .inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #3CC;
    border: none;
    -webkit-box-shadow: 0 5px 0 #2CADAD;
    -moz-box-shadow: 0 5px 0 #2CADAD;
    box-shadow: 0 5px 0 #2CADAD;
  }
  
  .inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2CADAD;
    -moz-box-shadow: 0 3px 0 #2CADAD;
    box-shadow: 0 3px 0 #2CADAD;
  }
  
  .inputButton:active {
    top: 5px;
    box-shadow: none;
  }
  
  .inputButton:focus {
    outline: none;
  }
  
  .navbar-brand {
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
  }


  



  .signup-container{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 15em;
    margin-right: 15em;
    width: max-content !important;
  }
.parent{
    width: 50em !important;
    height: 50em !important;
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.parent h2{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.driver{
    padding: 9%;
    background: #f05837;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.driver h2{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

#label,
.dontWorry {
  color: white;
}

.dontWorry {
  padding-top: 0.5em;
}
