* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: black;
    font-weight: bold;
}
  
h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    background: #3CC;
}

.profile {
    color: black;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
}

table {
    width: 100%;
    margin-bottom: 1em;
}
  
th {
    text-align: left;
    background: navy;
    color: white;
}
  
td, th {
    padding: .4em .6em;
    border-style: solid;
}
  
td {
    border-radius: 5em;
}
  
tbody tr:nth-child(odd) {
    background: #DDD;
}
  
tbody tr:nth-child(even) {
    background: #FFF;
}

.addKid {
    text-align: center;
}