* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: black;
    font-weight: bold;
}
  
h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    background: #3CC;
}